/* Your custom styles */
.row {
  background-color: #fffdfb;
}

#togglePassword:hover {
  color: #d48166; /* Change the color of the span when hovered */
}

.btn-color,
.form-range::-webkit-slider-thumb {
  background-color: #d48166;
  color: #fffdfb;
  border-color: #d48166; /* Add border color for consistency */
}

.btn-color:hover,
.btn-outline-color:hover {
  background-color: #c77a61;
  color: #fffdfb;
  border-color: #c77a61; /* Add border color for consistency */
}

.btn-outline-color {
  border-color: #d48166;
  color: #d48166;
}

/* Side image styling from your original file */
#side-img {
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  object-fit: cover;
}

/* Responsive styles for mobile from your original file */
@media only screen and (max-width: 768px) {
  #side-img {
    max-height: 250px;
    border-radius: 5px 5px 0px 0px;
  }
}